.DS_Store
diario/
notas/
src/tesis
src/librero
src/astro-citeproc
src/blog
*.docx
.obsidian/themes/*
.obsidian/appearance.json
.obsidian/snippets/brutalism-focus-snippet.css
# Ignore Smart Connections folder because embeddings file is large and updated frequently
.obsidian/plugins/*
.smart-connections
