.DS_Store
diario/
notas/
src/tesis
src/librero
src/astro-citeproc
*.docx
.obsidian/themes/*

# Ignore Smart Connections folder because embeddings file is large and updated frequently
.obsidian/plugins/smart-connections/
.smart-connections
